{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
 <title>About Us</title>
 <link rel="stylesheet" href="{% static 'styles/about-us.css' %}">
 <script src="{% static 'js/about-us.js' %}" defer></script>
 <script src="{% static 'js/header.js' %}" defer></script>
    </head>
<body>
    
    {% include 'header.html' %}

    <section class="about-section">
        <div class="container">
            <h2 style="margin-top: 20px;">Our Mission</h2>
            <p style="margin-top: 10px;">Our mission is to provide unlimited access to a wide range of content.We aim to make
                it easy for all
                people to read and have knowledge with the least effort.</p>


            <h2 style="margin-top: 10px;">Company History</h2>
            <p style="margin-top: 10px;">Our online library was founded in 2024 with the vision of making literature
                accessible to everyone,
                regardless of geographical location or socioeconomic status. Over the years, we have
                grown into a
                trusted platform for readers of all ages, offering a diverse collection of e-books
                and audiobooks.</p>

            <h2 style="margin-top: 10px;">Who We Are</h2>
            <p style="margin-top: 10px;">We are a team of passionate book lovers, librarians, and technologists dedicated to making knowledge
                accessible to everyone, anytime, anywhere.</p>
            <br>
            <div class="big-cont">
                <div class="card-container">
                    <div class="content content1">
                        <h2>Suhaila Sayed</h2>
                        <p class="title">Cheif Librarian</p>
                        <p>Suahila_23@gmail.com</p>
                        <button class="button">Contact</button>
                    </div>
                </div>
    
                <div class="content card-container">
                    <div class="content2">
                        <h2>Mohamed Mostafa</h2>
                        <p class="title">Head of Technology</p>
                        <p>Mohamed$10@gmail.com</p>
                        <button class="button">Contact</button>
                    </div>
                </div>
    
                <div class="content card-container">
                    <div class="content3">
                        <h2>Malak Mohy</h2>
                        <p class="title">Content curator</p>
                        <p>Malak_203@gmail.com</p>
                        <button class="button">Contact</button>
                    </div>
                </div>
                <div class="content card-container">
                    <div class="content4">
                        <h2>Youssef Nasser</h2>
                        <p class="title">Library Manager</p>
                        <p>Youssef_13@gmail.com</p>
                        <button class="button">Contact</button>
                    </div>
                </div>
    
                <div class="content card-container">
                    <div class="content5">
                        <h2>Ahmed Tamer</h2>
                        <p class="title">Technnical Assistant</p>
                        <p>Youssef_13@gmail.com</p>
                        <button class="button">Contact</button>
                    </div>
                </div>    
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Online Library. All rights reserved.</p>
        <p><a href="" target="_blank">Digital Book</a></p>

    </footer>
</body>
</html>