{% load static %}
{% load cache_bust %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add New Book</title>
  <link rel="stylesheet" href="{% static 'styles/add-new-book.css' %}?{% cache_bust %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"> 
  <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>
  
  {% include 'header.html' %}

  <div>
  <p>{{ heading }}</p></div>
    <form class="form" name="myform" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="inp">
        {% if not book %}
        {{ form.title }}
        <br>
        {{ form.author_name }}
        <br>
        {{ form.describtion }}
        <br>
        {{ form.category }}
        <br>
        {% else %}
        <input name="name" class="input" id="name" type="text" placeholder="Enter book`s title" required 
        {% if book %} value="{{ book.title }}" {% endif %}/>
        <br>
        <input name="author" class="input" id="author" type="text" placeholder="Enter book`s author" required
        {% if book %} value="{{ book.author_name }}" {% endif %}/>
        <br>
        <textarea name="des" id="des" placeholder="Write the book`s description" required>{% if book %}{{ book.describtion }}{% endif %}</textarea>
        <br>
        <select name="book" id="book">
          {% for cat in category_options %}

          <option value="{{cat}}" {% if book and cat == book.category %} selected {% endif %}>{{cat}}</option>

          {% endfor %}
        </select>
        <br>
        {% endif %}
        <input type="submit" class="add" name="add_book" value="{{ btnName }}"></input>
      </div>
      <div class="photo"><p>{{ coverTitle }}</p>
        {% if not book %}
        {{ form.cover }}
        {% else %}
        <input type="file" class="inpfile" name="inpfile" accept="image/*">
        {% endif %}
        {% if not book %}
        <img class="cover" style="display:none;">
        {% else %}
        <img class="cover" src="{{book.cover.url}}" style="display:flex;">
        {% endif %}
      </div>
      </form>
      <script src="{% static 'js/add-new-book.js' %}"></script>
    </body>
    </html>
