{% load static %}
{% load cache_bust %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add New Book</title>
  <link rel="stylesheet" href="{% static 'styles/add-new-book.css' %}?{% cache_bust %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet"> 
  <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>
  
  {% include 'header.html' %}

  <div>
  <p>{{ heading }}</p></div>
    <form class="form" name="myform" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% if status == "add" %}
      {{ form }}
      <input type="submit" class="add" name="add_book">{{ btnName }}</input>
      {% else %}
      <div class="inp">
        <input class="input" id="name" type="text" placeholder="Enter book`s title" required 
        {% if status ==  'edit'%} value="{{ book.title }}" {% endif %}/><br>
        <input class="input" id="author" type="text" placeholder="Enter book`s author" required
        {% if status ==  'edit'%} value="{{ book.author_name }}" {% endif %}/><br>
        <textarea id="des" placeholder="Write the book`s description" required>{% if status ==  'edit'%} {{ book.describtion }} {% endif %}</textarea><br>
          <select id="book">
            {% for cat in book.category_options %}

            <option value="{{cat}}" {% if cat == book.category and status == 'edit'  %} selected {% endif %}>{{cat}}</option>

            {% endfor %}
          </select>
          <br>
          <input type="submit" class="add" name="add_book">{{ btnName }}</input>
      </div>
      <div class="photo"><p>{{ coverTitle }}</p>
        <input type="file" class="inpfile" name="inpfile" style="display: none;" accept="image/*">
      </div>
      {% endif %}
      </form>
      <script src="{% static 'js/add-new-book.js' %}"></script>
    </body>
    </html>