{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/book-details.css' %}">
    <script src="{% static 'js/header.js' %}" defer></script>
    <title>Book Details</title>
</head>
<body>
    
    {% include 'header.html' %}

    <main class="main">
        <div class="book-info">
            <div class="book-info__img">
                <!-- add book img -->
                <img class="book-img" src="{{ book.cover.url }}">

                <div class="book-available">
                    <span class="book-available__state">
                        {% if book.is_available %}
                        Available
                        {% else %}
                        Owned
                        {% endif %}
                    </span>
                </div>

                <div class="buttons">
                    {% if request.user.is_staff %}
                    <a class="button button__edit" href="{% url 'edit-book' book.id%}">Edit Book</a>
                    <a class="button button__delete" href="{% url 'delete-book' book.id %}">Delete Book</a>   
                    {% else %}
                    <a class="button button__borrow" href="{% url 'borrow-book' book.id %}">Borrow the Book</a>
                    <a class="button button__return" href="{% url 'return-book' book.id %}">Return the Book</a>
                    {% endif %}
                </div>
            </div>
            <div class="book-details">
                <h1 class="book-details__book-title">{{ book.title }}</h1>
                <span class="book-details__author book-author">{{ book.author_name }}</span>
                <p class="book-details__about">{{ book.describtion }}</p>
                <div class="book-details__genre-container">
                    <span class="genre-heading">Genres</span>
                    <!-- Add spans for all the genres of the book -->
                    <span class="book-details__genre">{{ book.category }}</span>
                </div>
                <div class="about-author">
                    <h3 class="about-author__heading">About The Author</h3>
                    <span class="about-author__name book-author">{{ book.author_name }}</span>
                    <p class="about-author__about"></p>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/book-details.js' %}"></script>
</body>
</html>