{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script src="{% static 'js/header.js' %}" defer></script>
    <script src="{% static 'js/home.js' %}" defer></script>
</head>
<body>

    {% include 'header.html' %}
    
    <div class="search-cont">
        <input type="text" class="search-input" placeholder="Enter the book's title or author">
        <select class="search-category">
            <option value="all">All</option>
            <option value="self-improvement">Self-improvement</option>
            <option value="fiction">Fiction</option>
            <option value="romance">Romance</option>
            <option value="scientific">Scientific</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
        </select>
        <div class="checkbox-cont">
            <input class="ava" type="checkbox"></input>
            <p>Show Available Only</p>
        </div>
        <button type="submit" class="search-btn">Search</button>
    </div>
    <div class="cont">
        <div class="books-cont">
            {% for book in books %}
                <div class="book">
                    <input type="hidden" data-url="{% url 'book-details' book.id %}" class="url">
                    <img class="cover" src="{{ book.cover.url }}">
                    <p class="title">{{ book.title }}</p>
                    <div class="text-cont-book">
                        <p class="author">{{ book.author_name }}</p>
                        <p class="Available">{% if book.is_available %} Available {% else %} Owned {% endif %}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</body>
</html>