{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <script src="{% static 'js/login.js' %}" defer></script>
    <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>
    <div class="bg">
        <img src="{% static 'images/shelves.jpg' %}" alt="bg" class="bg-image">
        <div class="black"></div>
    </div>
    
    {% include 'header.html' %}

    <div class="cont">
        <form method="post" action="">
            {% csrf_token %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h1>Login Form</h1>
            <div class="inputBox">
                <div class="inputText">Email</div>
                <input type="email" class="input email" name="email" required>
            </div>
            <div class="inputBox">
                <div class="inputText">Password</div>
                <input type="password" class="input password" name="password" required>
            </div>
            <div class="btns-cont">
                <button type="submit">Login</button>
                <a class="link" href="{% url 'register' %}">Create account</a>
            </div>
        </form>
    </div>
</body>
</html>