{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script src="{% static 'js/my-books.js' %}" defer></script>
    <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>
    
    {% include 'header.html' %}

    <div class="search-cont">
        <input type="text" class="search-input" placeholder="Enter the book's title or author">
        <select class="search-category" name="category">
            <option value="all">All</option>
            <option value="Self-improvement">Self-improvement</option>
            <option value="Fiction">Fiction</option>
            <option value="Romance">Romance</option>
            <option value="Scientific">Scientific</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
        </select>
        <button type="submit" class="search-btn">Search</button>
    </div>
    <div class="cont">
        <div class="books-cont"></div>
    </div>
</body>
</html>