<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/home.css">
    <script src="./js/my-books.js" defer></script>
</head>
<body>
    <div class="header">
        <img src="./images/logo.png" class="logo">
        <a class="header-tag" href="./home.html">Home</a>
        <!-- if the user is not an Admin -->
        <a class="header-tag my-books active" href="./my-books.html">My Books</a>
        <!-- if the user is an admin -->
        <a class="header-tag add-book" href="./add-new-book.html">Add Book</a>
        <a class="header-tag" href="./about-us.html">About Us</a>
        <div class="logout-cont">
            <p class="username">Hello, </p>
            <p class="logout">Logout</p>
        </div>
    </div>
    <div class="search-cont">
        <input type="text" class="search-input" placeholder="Enter the book's title or author">
        <select class="search-category">
            <option value="all">All</option>
            <option value="self-improvement">Self-improvement</option>
            <option value="fiction">Fiction</option>
            <option value="romance">Romance</option>
            <option value="scientific">Scientific</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
        </select>
        <button type="submit" class="search-btn">Search</button>
    </div>
    <div class="cont">
        <div class="books-cont"></div>
    </div>
</body>
</html>