{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <script src="{% static 'js/register.js' %}" defer></script>
    <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>

    {% include 'header.html' %}
    <div class="cont">
        <form method="post" action="">
            {% csrf_token %}

            <h1>Register Form</h1>
            {% if form.username.errors %}
                <div class="err_list">
                {% for error in form.username.errors %}
                    <span class="form_err">{{ error }}</span>
                {% endfor %}
                </div>
            {% endif %}
            <div class="inputBox">
                <div class="inputText">Username</div>
                {{form.username}}
            </div>
            {% if form.email.errors %}
                <div class="err_list">
                {% for error in form.email.errors %}
                    <span class="form_err">{{ error }}</span>
                {% endfor %}
                </div>
            {% endif %}
            <div class="inputBox">
                <div class="inputText">Email</div>
                {{form.email}}
            </div>
            {% if form.password1.errors %}
                <div class="err_list">
                {% for error in form.password1.errors %}
                    <span class="form_err">{{ error }}</span>
                {% endfor %}
                </div>
            {% endif %}
            <div class="inputBox">
                <div class="inputText">Password</div>
                {{form.password1}}
            </div>
            {% if form.password2.errors %}
                <div class="err_list">
                {% for error in form.password2.errors %}
                    <span class="form_err">{{ error }}</span>
                {% endfor %}
                </div>
            {% endif %}
            <div class="inputBox">
                <div class="inputText">Repeat password</div>
                {{form.password2}}
            </div>
            {% if form.is_admin.errors %}
                <div class="err_list">
                {% for error in form.is_admin.errors %}
                    <span class="form_err">{{ error }}</span>
                {% endfor %}
                </div>
            {% endif %}
            <div class="inputBox check_admin">
                <label for="admin" class="label">
                    {{form.is_admin}} Admin
                </label>
            </div>
            <div class="btns-cont">
                <button type="submit">Register</button>
                <a class="link" href="{% url 'login' %}">Go to login</a>
            </div>
        </form>
    </div>
</body>
</html>