{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <script src="{% static 'js/register.js' %}" defer></script>
    <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>

    {% include 'header.html' %}
    
    <div class="bg">
        <img src="{% static 'images/shelves.jpg' %}" alt="bg" class="bg-image">
        <div class="black"></div>
    </div>
    <div class="cont">
        <form method="post" action="">
            {% csrf_token %}
            <!-- <h1>Register Form</h1>
            <div class="inputBox">
                <div class="inputText">Username</div>
                <input type="text" class="input usernameInput" name="username" required>
            </div>
            <div class="inputBox">
                <div class="inputText">Email</div>
                <input type="email" class="input email" name="email" required>
            </div>
            <div class="inputBox">
                <div class="inputText">Password</div>
                <input type="password" class="input password" name="password" required>
            </div>
            <div class="inputBox">
                <div class="inputText">Repeat password</div>
                <input type="password" class="input rPassword" name="rPassword" required>
            </div>
            <div class="inputBox">
                <label for="admin" class="label">
                    <input type="checkbox" id="admin" name="admin"> Admin
                </label>
            </div>
            <div class="btns-cont">
                <button type="submit">Register</button>
                <a class="link" href="{% url 'login' %}">Go to login</a>
            </div> -->


            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h1>Register Form</h1>
            <div class="inputBox">
                <div class="inputText">Username</div>
                {{form.username}}
            </div>
            <div class="inputBox">
                <div class="inputText">Email</div>
                {{form.email}}
            </div>
            <div class="inputBox">
                <div class="inputText">Password</div>
                {{form.password1}}
            </div>
            <div class="inputBox">
                <div class="inputText">Repeat password</div>
                {{form.password2}}
            </div>
            <div class="inputBox">
                <label for="admin" class="label">
                    {{form.is_admin}} Admin
                </label>
            </div>
            <div class="btns-cont">
                <button type="submit">Register</button>
                <a class="link" href="{% url 'login' %}">Go to login</a>
            </div>
        </form>
    </div>
</body>
</html>