* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background: #0f005c;
    width:100%;
    height:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
}
.header .header-tag {
    transform: translate(-50px, 0);
}
.logo {
    height:10vh;
    transform: translate(-30px, 0);
}
.header .header-tag {
    padding:5px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}
.header .header-tag:hover {
    scale:1.1;
    color: orange;
    background: #ffffff83
}
.logout-cont {
    font-size: 18px;
}
.username {
    font-size: 19px;
    margin: 0;
    font-weight: normal;
}
.logout {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logout:hover {
    scale:1.1;
    color: red;
}
.header .active {
    scale: 1.1 !important;
    color: red !important;
}
.search-cont {
    width:100%;
    height:7vh;
    min-height:50px;
    background: #000211;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-cont * {
    margin: 20px;
    width: 20%;
    padding: 5px;
}
.search-cont button {
    width:10%;
    min-width: 30px;
    font-size: 18px;
    font-weight: bold;
    color: orange;
    background: #333;
    cursor: pointer;
    transition: .5s scale;
}
.search-cont button:hover {
    scale: 1.1;
}
.search-cont .search-input, .search-cont select {
    outline: none;
    border: none;
    background: #090b13;
    color: #fff;
    width: 25%;
    padding: 5px;
    height: 20px;
    border: 3px transparent solid;
}
.search-cont select {
    cursor: pointer;
    height:30px;
}
.checkbox-cont {
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    width:25%;
}
.checkbox-cont p {
    width:100%;
    margin-left:10px;
    transform: translate(0, 2px);
    padding:0;
}
.ava {
    cursor: pointer; 
    transform: scale(1.4); 
    margin:0;
    width:auto;
}
.cont {
    width:100%;
    height:83vh;
    display: flex;
    justify-content: center;
    background-image:url("../images/home-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.books-cont {
    width:90%;
    margin-top:1%;
    height:97%;
    display:flex;
    flex-wrap: wrap;
}
.book {
    width:250px;
    height:430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .25s;
    margin:10px 20px;
    box-shadow: 0 0 3px 1px #afaeae;
}
.book:hover {
    scale:1.05;
}
.book img {
    width:100%;
    height:85%;
    -webkit-background-origin:border;
    background-size:cover;
}
.title {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 2%;
}
.author {
    color: orange;
}
.text-cont {
    height:20%;
}
.Available, .Owned {
    color: #23da23;
}
.Unavailable {
    color: red;
}
.text-cont-book {
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top:5px;
}
a {
    text-decoration: none;
}
.obj {
    display: hidden !important;
}

@media screen and (max-width: 1000px) {
    .books-cont {
        justify-content: center;
    }
}