/* styles.css */

* {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width:100vw;
  min-height:100vh;
  overflow: hidden;
  background-image: url("../images/background_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: #0f005c;
  width:100%;
  height:10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:#fff;
}
.header a {
  transform: translate(-50px, 0);
}
.logo {
  height:10vh;
  transform: translate(-30px, 0);
}
.header a {
  padding:5px;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
  color: #fff;
  font-size: 19px;
}
.header a:hover {
  scale:1.1;
  color: orange;
  background: #ffffff83
}
.logout-cont p {
  font-size: 18px !important;
  padding:0;
  margin-top: 0 !important;
}
.logout {
  text-decoration: underline;
  cursor: pointer;
  transition: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout:hover {
  scale:1.1;
  color: red;
}
.active {
  scale: 1.1 !important;
  color: red !important;
}

.about-section {
  width:100vw;
}

.container {
  width: 80%;
  height:80vh;
  margin: auto;
  color: azure;
  display: flex;
  flex-direction: column;
}

.card-container {
  border-radius: 5px;
  font-size: 1rem;
  padding: 2rem;
  text-shadow: 2px 2px 5px #1bebe7;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.card-container {
  width:100px;
  margin:15px;
}

.big-cont {
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  color: whitesmoke;
  text-align: center;

}

.about-section a:link {
  color: rgb(217, 21, 21);
}

.about-section a:visited {
  color: rgb(193, 12, 39);
}

.about-section a:hover {
  color: rgb(160, 12, 190);
}


.about-section a:active {
  color: rgb(120, 134, 29);
}