* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

html {
    font-family: 'lato', 'sans-serif';
    font-weight: 400;
}

.main {
    margin: 3rem 7rem;
    font-size: 1.5rem;
}

.book-info {
    width: 100%;
    display: flex;
}

.left-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.book-img {
    box-shadow: -1.5px 3px 12px #333;
    height: 30rem;
    margin-bottom: 2rem;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    box-shadow: -1px 2px 5px #444;   
    border: none;
    border-radius: 25rem;
    width: 75%;
    height: 4rem;
    background-color: rgb(42, 108, 42);
    margin: 1rem;
    color: #eee;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    transition: all .2s ease-in-out;
}

.button:hover {
    background-color: rgb(71, 133, 71);
}

.book-available {
    width: 70%;
}

.book-available__state {
    letter-spacing: .05rem;
}

.book-details {
    width: 55%;
    padding: 1rem;
}

.book-details__book-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: .1rem;
}

.book-details__author {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.book-details__about, .about-author__about {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.book-details__genre-container {
    margin: 2rem 0;
    font-size: 1.3rem;
}

.genre-heading {
    font-size: 1.35rem;
    color: #828080;
    font-weight: bold;
    margin-right: 1.5rem;
}

.book-details__genre {
    padding: .5rem 1rem;
    background-color: rgb(193, 184, 184);
    border-radius: .3rem;
    margin-right: 1rem;
    letter-spacing: .05rem;
    transition: all .2s ease-in-out;
}

.book-details__genre:hover {
    background-color: rgb(212, 208, 208);
}

.about-author {
    margin: 5rem 0;
}

.about-author__heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.about-author__name {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}